<center>
<font size = "4" color=#000000>
<form class="form-inline" role="form" >
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="boxshadow" >
  <div class="form-group" ><br />
    <%= f.text_field :firstname,  class:"form-control", placeholder:" First Name" %>
    <%= f.text_field :lastname,  class:"form-control", placeholder:" Surname"%>
  </div>
  <br />
  <div class="form-group"><br />
    <%= f.text_field :email,  class:"form-control", placeholder:" Email" %>
    <%= f.text_field :address,  class:"form-control", placeholder:" Address" %>
  </div>
	<br />
  <div class="form-group"><br />
    <%= f.password_field :password,  class:"form-control", placeholder:"Password " %>
	<%= f.password_field :password_confirmation,  class:"form-control", placeholder:" Confirm Password" %>
	</div>
	<br>
	<div class="form-group"><br />
		<font color="red";> ADMIN Users Only: </font>
		<%= f.text_field :admincode,  class:"form-control", placeholder:"CODE"%>
  </div>
  <br />
  <div class="actions"><br />
    <%= f.submit class:"btn btn-lg btn-primary" %>
  </div>
  </div>
<% end %>
</form>
</center>
</font>

