<center>
<strong><font size = "4" color=#000000>

<% if signed_in? %>
<div id="boxshadow" >
	<div class="form-group" >
	| <%= link_to 'Edit Profile', edit_user_path(@current_user), class: 'link-to'  %> |
	</div>
	<div class="form-group" >	
		<%= image_tag("user.png", :size=>"150x150")%>
	</div>
	<div class="form-group" ><br />
			Name:  <%= @current_user.firstname %>   <%= @current_user.lastname %>
	</div>
	<div class="form-group"><br />
			Email: <%= @current_user.email %>
	</div>
	<div class="form-group"><br />	
			Address: <%= @current_user.address %>	
	</div>
</div>		
<%end %> 
<br>
<% if @current_user.admin == true %>
<h1>Manage All Users</h1>
<div align="left">
<%= link_to 'New User', new_user_path, class: 'link-to'  %>
</div>
<table>
  <thead>
    <tr>
      <th>Firstname </th>
      <th>Lastname </th>
      <th>Email </th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user, class: 'link-to'  %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'link-to'  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>


</font>
</center>
