<center>
<strong><font size = "4" color=#000000>
<div align="left">
	| <%= link_to 'Edit', edit_user_path(@current_user), class: 'link-to'  %> |
</div>


<% if signed_in? %>
<table id="ud">
	<tr>
		<th>
			Name:
		</th>
		<td>
			<%= @current_user.firstname %>
		</td>
	</tr>
	<tr>
		<th>
			Lastname:
		</th>
		<td>
			<%= @current_user.lastname %>
		</td>
	</tr>
		<tr>
		<th>
			Email:
		</th>
		<td>
			<%= @current_user.email %>
		</td>
	</tr>
	<tr>
		<th>
			Address:
		</th>
		<td>
			<%= @current_user.address %>
		</td>
	</tr>
</table>
<%end %> 
<br>

<% if @current_user.admin == true %>
<h1>All Users</h1>
<div align="left">
<%= link_to 'New User', new_user_path, class: 'link-to'  %>
</div>
<table>
  <thead>
    <tr>
      <th>Firstname </th>
      <th>Lastname </th>
      <th>Email </th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user, class: 'link-to'  %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'link-to'  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>


</font>
</center>
