<center>
<strong><font size = "4" color=#000000>
<style>
tr{
	border-spacing: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
  }
td{
	text-align: center;
	font-size:25px;
	height: 50px;
	width: 250px;
	padding: 10px;
	font-size:20px;
	color: black;
	background: #ded8da;
	}
	::-webkit-input-placeholder { 
		color: #ded8da;
		text-align: center;

	}
</style>

<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <table>
	
		<td>
			 <%= f.text_field :name, :placeholder => 'Name' %>
		</td>
	
	<br>
		<td>
			<%= f.text_field :image, :placeholder => 'Image'  %>
		</td>
	
</table>
  <br>
  <div class="actions">
    <%= f.submit %>
</div>
<% end %>

</font>
</center>