
<center><strong><font size = "4" color=#000000>
<div id="style">
<h1>Brands</h1>
<%= will_paginate @brands %>
<div id ="new" >
	<%= link_to 'Add New Brand', new_brand_path, class: 'link-to'  %>
</div>
<br>
<div class="wrapper">
<ul class="itemHolder">
<% @brands.each do |brand| %>
    <div><li>
			<center><font size = "4">
			<%= brand.name %>
		<br>
			<%= link_to 'Show', brand, class: 'link-to' %>
			<%= link_to 'Edit', edit_brand_path(brand), class: 'link-to' %>
			<%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to' %>
		<br>
			<img src="assets/<%= brand.image%>" width="200" height="200">
		</font></center>
	</li><% end %>
	</div>
</ul>
</div>


</font>
</center>

