<center>
<strong><font size = "4" color=#000000>

<h1> <%= @brand.name%> Products </h1>

<style>
td,tr,th {
	text-align: center;
	font-size:30px;
	}
	td{
	width: 250px;
	padding: 10px;
	font-size:20px;
	color: black;
	
	}
	th{
	color: #d21e48;}
	td{
	color: #614c51;}
</style>

<div align="left">
| <%= link_to 'Back', brands_path, class: 'link-to' %> |
<%= link_to 'Edit', edit_brand_path(@brand), class: 'link-to' %> |
</div>

<table>
	<tr>

		<th>
			<strong>Name</strong>
		</th>
		<th>
			<strong>Image</strong>
			
		</th>
	</tr>
	
	<tr><% @brand.products.each do |product| %>
		<td>
			<%= product.name %>
		</td>
		<td>
		<img src="../assets/<%= product.image%>/" width="150" height="150">

		</td>
	</tr>
	
	
	
	<br />
	<% end %>
</table>

</strong>
</font>
</center>