<center>
<strong><font size = "4" color=#000000>
<div id="prStyle">
<h1>Beauty Product's</h1>
<%= will_paginate @products %>

<%= link_to 'Add New Product', new_product_path, class: 'link-to' %>
<table id="td1">
  	<% @products.each do |product| %>
	<td width="20%">
		<img src="assets/<%= product.image%>/" width="150" height="150">
	   </td> 
		<td  width="70%">
			<font color=#000000> Name: </font>
			<%= product.name %>
			<br><br>
			<font color=#000000> Type: </font>
			<%= product.product_type %>
			<br><br>
			<font color=#000000> Price: </font>
			<%= euro(product.price) %>
			<br><br>
			<font color=#000000> Brand: </font>
			<%= product.brand.name %>
			<br><br>
			<%= link_to 'Show', product, class: 'link-to' %>
			<%= link_to 'Edit', edit_product_path(product), class: 'link-to' %>
			<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to' %>
		</td>   
	   
	   <tr>
    <% end %>
</table>
</div>
</center></font>