<center>
<strong><font size = "4" color=#000000>

<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
	  <tr>
		<td>
			<%= f.label :product_id %>
			<br>
			<%= f.collection_select :product_id, Product.all, :id, :name %>  </div>
		</td>
		<td>
			<%= f.label :stars %>
			<br>
			<%= f.number_field :stars %>
		</td>
		</tr>
		<tr>
		<td>
			
			<%= f.label :user_id %>
			<%= f.collection_select :user_id, User.all, :id, :firstname %>  </div>
		</td>
		<td>
			<%= f.label :comment %>
			<br>
			<%= f.text_area :comment %>
		</td>
		</tr>
	</table>

    <div class="actions">
	<br>
    <%= f.submit %>
  </div>
<% end %>
</font>
</center>