<center>
<strong><font size = "4" color=#000000>
<h1>Rate's & Review's</h1></font>
<%= will_paginate @reviews %>
<hr>
	<% @reviews.each do |review| %>
	<div class="col-sm-8 col-md-6">
			<font size = "4">
			<%= review.product.brand.name%>
			<%= review.product.name%>
			<br>
			 <%= image_tag(review.product.image, :size=>"150x150")%>
			<br><font color=black><%= review.user.firstname%>:</font>
			<font color=#614c51><%= review.comment%></font>
			<br>
			<% if signed_in? %>
				<% if @current_user.firstname == review.user.firstname %>
					<%= link_to 'Edit My Review', edit_review_path(review), class: 'link-to' %>
				<%end%>	
			<%end%>
			<% if @current_user.admin == true %>
				<%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to' %>
			<%end%>
			<hr>
		</div>
   <% end %>
</center>

