<center>
<strong><font size = "4" color=#000000><h1>Rate's & Review's</h1></font>
<%= will_paginate @reviews %>


	<% @reviews.each do |review| %>
	  <div id="rvs"><li>
		<font size = "4">
			<br>
			<%= review.product.brand.name%>
			<%= review.product.name%>
			<br>
			<img src="assets/<%= review.product.image%>/" width="150" height="150">
			<br><font color=black><%= review.user.firstname%>:</font>
			<font color=#614c51><%= review.comment%></font>
			<br>
			<%= link_to 'Edit', edit_review_path(review), class: 'link-to' %>
			<%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to' %>
			</li></div>
<% end %>
</center>

