<center>
<strong><font size = "4" color=#990033>

<h1>Detail's</h1>
<div align="left">
<%= link_to 'Edit', edit_review_path(@review), class: 'link-to' %> 
</div>

<table id="reviewsTbl">
		<tr><td><font size = "4">
			Product:
			<br><font color=black><%= @review.product.name%></font>
			<br><br>
			Stars: 
			<font color=black><%= @review.stars %></font>
			<br><br>
			User: 
			<font color=black><%= @review.user.firstname %></font>
			<br><br>
			Comment:
			<br><font color=black><%= @review.comment %></font>
			<br><br>
		</td>
		</tr>
</table>
</font>
</center>