
<!DOCTYPE html>
<html>
<head>
  <title>BeautyShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="h2" >
<nav class="navbar navbar-inverse" style="background-color:black;" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
		<%= image_tag("logo11.png", :size => "200x35") %>
	  </a>
	  
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li><%=link_to "Home", root_path %></li>
		<li><%=link_to "Brands", brands_path %></li>
		<li><%=link_to "Products", products_path %></li>
		<li><%=link_to "Reviews", reviews_path %></li>
		<li><%=link_to "User", users_path %></li>
		
      </ul>
      <ul class="nav navbar-nav navbar-right">
	  <li><%=mail_to "hayabeauty@mail.com", "Contact us", class: "link-to-c" %></li>
		<li><%=link_to "Register?", new_user_path %></li>
		<% if !signed_in? %>
			<li><%= link_to "Sign In", login_path %></li>
		<% else %>
			<li><%= link_to "Sign Out", logout_path %></li>
		<%end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

		

</body>
</html>
